.links {
    display: flex;
    flex-direction: column;
}

#root {
    color: white;
}

.coins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin {
    background-color: white;
    width: 80vw;
    height: 5vw;
}

.chartContainer {
    width: 80vw;
}

.dropdown {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

body {
    background-color: black;
}
